<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>
<body>
  <div id="app">
    <label for="agree">
      <input type="checkbox" id="agree" v-model="isAgree">同意协议
    </label>
    <!-- v-on:disabled绑定disabled属性，判断是否阻止默认行为 -->
    <button :disabled="!isAgree">下一步</button>

    <input type="checkbox" value="篮球" v-model="hobbies">篮球
    <input type="checkbox" value="足球" v-model="hobbies">足球
    <input type="checkbox" value="乒乓球" v-model="hobbies">乒乓球
    <input type="checkbox" value="羽毛球" v-model="hobbies">羽毛球
    <h2>您的爱好是：{{hobbies}}</h2>

    <!-- 值绑定 v-bind:value，其实就是动态绑定value，不是写死 -->
    <label v-for="item in originHobbies" :for="item">
      <input type="checkbox" :id="item" :value="item" v-model="hobbies">{{item}}
    </label>
  </div>
  <script src="../js/vue.js"></script>
  <script>
    var app = new Vue({
          el: '#app',
          data: {
            message:'hello',
            isAgree:false,  // 单选框
            hobbies:[],  // 多选框 
            originHobbies:['篮球','足球','乒乓球','羽毛球','台球']
          }
      })
  </script>
</body>
</html>